.advantages-wrap > input {
  display: none;
}

.advantages-wrap > label {
  display: none;
}

.advantages-wrap > input:checked + div + label,
.advantages-wrap > input:checked + div + label + label {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 100;
}
.advantages-wrap > input:checked + div + label:after,
.advantages-wrap > input:checked + div + label + label:after {
  color: #fff;
  display: block;
}

.advantages-wrap > div {
  position: absolute;
}

.advantages-wrap > div {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.advantages-wrap > input:checked + div {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}
