.all-included-wrap {
  background: url(../images/all-included-bg.png) 0 0 no-repeat;
  background-size: cover;
  padding: 50px 20px 35px 20px;
  text-align: center;
  .all-included {
    display: flex;
    flex-wrap: wrap;
    .include {
      display: flex;
      outline: 1px solid red;
    }
  }
  
}