*, *:before, *:after {
  box-sizing: border-box;
}
@import "config";
html, body {
  height: 100%;
  font-family: sans-serif;
}
body {
  width: 100%;
  font-family: "Proxima Nova Cn Rg", sans-serif;
  font-size: 62.5%;
  margin: 0 auto;
  background: url(../images/first-screen-bg.png);
  .wrapper {
    display: flex;
    flex-direction: column;
    color: #1a1820;
    min-width: 320px;
    max-width: 1920px;
    @import "screen1";
    .main {
      flex: 1 0 auto;
      @import "advantages";
      @import "prices";
      @import "comments";
      @import "scheme";
      @import "all-inclusive";
      @import "dispel-all-fears";
      @import "materials";
      overflow: hidden;
    }
  }
  footer {
    flex: 1 0 auto;
    background: #403980;
    padding: 5px;
    font-size: 1.4em;
  }
}




